* {
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "header nav nav"
                            "aside article footer";
    gap: 10px;
    text-align: right;
    font-size: 1.4em;
}
.wrapper > div {
    background-color: crimson;
    background-size: cover;
    border-radius: 8px;
    padding: 10px;
    height: 40vh;
    opacity: 0.5;
}
.wrapper > div:hover{
    opacity: 1;
    transition: opacity 1s ease;
}
.header {
    grid-area: header;
    background-image: url(img/dandelion.jpg);
    background-repeat: no-repeat;
}
.nav {
    grid-area: nav;
    background-image: url(img/dand2.jpg);
    background-repeat: no-repeat;
    color: white;
}
.aside {
    grid-area: aside;
    background-image: url(img/dand3.jpg);
    background-repeat: no-repeat;
}
.article {
    grid-area: article;
    background-image: url(img/dandy.gif);
    background-repeat: no-repeat;
}
.footer {
    grid-area: footer;
    background-image: url(img/dandy2.gif);
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    background-color: rgba(230, 230, 230, 0.5);
    overflow: hidden;
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
li {
    display: block;
    float: left;
    margin:10px;
}
